<div class="navigations">
    <ul>
        <li>
        

            <a href="#">
                <span class="icon">
                  <!-- <img src="./images/16-sanskar.png" alt="#" style="width: 100px; height: 60px;" align="center"> -->
                </span>
                <span class="title">16-Sanskar</span>
            </a>
        </li>

        <li>
            <a href="/adminLogin/admin_dash">
                <span class="icon">
                    <ion-icon name="home-outline"></ion-icon>
                </span>
                <span class="title">Dashboard</span>
            </a>
        </li>

        <li>
            <a href="/adminLogin/user_details">
                <span class="icon">
                    <ion-icon name="people-outline"></ion-icon>
                </span>
            <span class="title">Customers</span>
            </a>
        </li>

        <li>
            <a href="/adminLogin/orders">
                <span class="icon">
                    <ion-icon name="layers-outline"></ion-icon>                        </span>
               <span class="title">Orders</span>
            </a>
        </li>

        <li>
            <a href="/adminLogin/vendor_details">
                <span class="icon">
                    <ion-icon name="person-outline"></ion-icon>                
                        </span>
               <span class="title">Vendors</span>
            </a>
        </li>

        <li>
            <a href="/adminLogin/Added_product">
                <span class="icon">
                    <ion-icon name="download-outline"></ion-icon> 
                                       </span>
               <span class="title">Added Product</span>
            </a>
        </li>

        <li>
            <a href="#">
                <span class="icon">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                </span>
                <span class="title">Password</span>
            </a>
        </li>

        <li>
            <a href="/adminLogin/adminLogout">
                <span class="icon">
                    <ion-icon name="log-out-outline"></ion-icon>
                </span>
                <span class="title">Sign Out</span>
            </a>
        </li>
    </ul>
</div>