<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
    <!-- <%- include('../partials/head'); %> -->
 
<!-- <style>
  #footer {
    /* background: #fff; */
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    background: #f47c00;
  }
 
 
  
 
  #footer .footer-top {
    padding: 60px 0 30px 0;
    background: #f47c00;
  }
  #footer .footer-top .footer-contact {
    margin-bottom: 30px;
  }
  #footer .footer-top .footer-contact h4 {
    font-size: 22px;
    margin: 0 0 30px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
  }
  
  #footer .footer-top .footer-contact p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 0;
    font-family: "Raleway", sans-serif;
    color: #fff;
  }
  #footer .footer-top h4 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    position: relative;
    padding-bottom: 12px;
  }
  #footer .footer-top .footer-links {
    margin-bottom: 30px;
    
  }
  #footer .footer-top .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  #footer .footer-top .footer-links ul i {
    padding-right: 2px;
    color: #fff;
    font-size: 12px;
    line-height: 1;
  }
  #footer .footer-top .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
  }
  #footer .footer-top .footer-links ul li:first-child {
    padding-top: 0;
  }
  #footer .footer-top .footer-links ul a {
    color: #fff;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    text-decoration:none;
  }
  #footer .footer-top .footer-links ul a:hover {
    text-decoration: none;
    color: #eb5d1e;
  }
  #footer .footer-top .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #eb5d1e;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
  }
  #footer .footer-top .social-links a:hover {
    background: #ef7f4d;
    color: #fff;
    text-decoration: none;
  }
  #footer .copyright {
    text-align: center;
    float: left;
  }
  #footer .credits {
    float: right;
    text-align: center;
    font-size: 13px;
    color: #212529;
  }
  #footer .credits a {
    color: #fff;
  }
  @media (max-width: 575px) {
    #footer .copyright, #footer .credits {
      float: none;
      -moz-text-align-last: center;
      text-align-last: center;
      padding: 3px 0;
    }
  }
  .heading
        {
            margin-top: 50px;
            font-weight: bold;
            margin-left: 50px;
            font-size: 55px;
            color: #f47c00;
            text-shadow: 1px 1px 1px black;
            text-align: center;
        }
</style> -->
</head>
<body>
  <h1 class="heading">Contact Us</h1>

    <footer id="footer">
      
        <div class="footer-top">
          <div class="container">
            <div class="row">
             
              <div class="col-lg-3 col-md-6 footer-contact">
                <h3>Ninestars</h3>
                <p>
                  A108 Adam Street <br>
                  New York, NY 535022<br>
                  United States <br><br>
                  <strong>Phone:</strong> +1 5589 55488 55<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                  <li><i class="fa fa-chevron-right" ></i> <a href="#">Home</a></li>
                  <li><i class="fa fa-chevron-right"></i> <a href="#">About us</a></li>
                  <li><i class="fa fa-chevron-right" ></i> <a href="#">Products</a></li>
                  <li><i class="fa fa-chevron-right" ></i> <a href="#">Blogs</a></li>
                  <li><i class="fa fa-chevron-right" ></i> <a href="#">Get In Touch</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="fa fa-chevron-right" ></i><a href="#">Home Delevery</a></li>
                  <li><i class="fa fa-chevron-right" ></i> <a href="#">Best Product </a></li>
                  <li><i class="fa fa-chevron-right" ></i> <a href="#">Online Payment</a></li>
                  <li><i class="fa fa-chevron-right" ></i><a href="#">Marketing</a></li>
                  <li><i class="fa fa-chevron-right" ></i> <a href="#">Pure</a></li>
                </ul>
              </div>
    
              <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Social Networks</h4>
                <p>All the socila media platform</p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                  <a href="#" class="facebook"><i class="fa fa-facebook-square"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-skype"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container py-4">
          <div class="copyright">
            &copy; Copyright <strong><span>16-Sanskar</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
           
            Designed by <a href="#">Code Jorgon</a>
          </div>
        </div>
      </footer>
</body>
</html>


