<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>


  <style>
    #nav-ediv {
      position: fixed;
      top: 0;
      width: 100%;
      /* height: 20vh; */
      z-index: 1;
      background-color: #f47c00;
    }

    .navbar-center {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      /* justify-content: space-between; */
    }

    .navbar-nav {
      gap: 8vw;
    }

    @media screen and (min-width: 768px) {
      .navbar-brand img {
        width: 100px;
      }

      .navbar-brand {
        margin-right: 0;
        padding: 0 1em;
      }
    }

    /* ----------------------- */

    @media (max-width: 320px) {
      .py-xl-8 {
        padding-top: 5px;
        /* Adjust as needed for smaller screens */
        padding-bottom: 5px;
        /* Adjust as needed for smaller screens */
      }

      .col-12.col-lg-6.col-xl-5,
      .col-12.col-lg-6.col-xl-7 {
        flex: 100%;
        /* Full width for smaller screens */
        max-width: 100%;
        /* Full width for smaller screens */
        order: 2;
        /* Reorder columns for smaller screens */
      }

      .py-3.py-md-5.py-xl-8 {
        background-image: url('background2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

      /* Additional responsive styles for 320px width */
    }

    @media (min-width: 321px) and (max-width: 576px) {
      .py-xl-8 {
        padding-top: 5px;
        /* Adjust as needed for this breakpoint */
        padding-bottom: 5px;
        /* Adjust as needed for this breakpoint */
      }

      .col-12.col-lg-6.col-xl-5,
      .col-12.col-lg-6.col-xl-7 {
        flex: 100%;
        /* Full width for this breakpoint */
        max-width: 100%;
        /* Full width for this breakpoint */
        order: 2;
        /* Reorder columns for this breakpoint */
      }

      /* Responsive background image */
      .py-xl-8 {
        background-image: url('background2.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
      }

    }

    .heading {
      font-weight: bold;
      font-size: 48px;
      color: #f47c00;
      text-shadow: 1px 1px 1px black;
      text-align: center;
    }

    .card {
      border: none;
      border-radius: 35px;
      box-shadow: 2px 6px 8px 0 rgba(0, 0, 0, 0.18);

    }

    .carousel-inner {
      padding: 0.5em;
    }

    #about {
      /* background-color: red; */
      /* height: 800px; */
      width: 100%;
      padding-top: 100px;
    }

    #mission {
      width: 100%;
      padding-bottom: 100px;
      margin-top: 100px;
      /* background-color: red; */
      height: 400px;
    }

    .missionheading {
      font-size: 60px;
      color: #f47c00;
    }

    .about-text {
      margin-top: -70px;
    }

    .vissionheading {
      font-size: 50px;
      margin-left: 110px;
    }
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    font-family:  'Poppins', sans-serif;
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top:4rem ;
    list-style: none;
    text-decoration: none;
}
:root{
   --main-color:#ff6d46;
   --second-color:var(--main-color);
   --text-color :#121011;
   --bg-color:#fff;

   --box-shadow:0 0 16px 1px rgb(14 52 54/15%);
}
section{
    padding:50px 100px;
}
img{
    width:100%;
}
body{
    color:var(--text-color);
}
.heading{
  text-align: center;
}
.heading h2{
  font-size:3rem ;
  text-transform: uppercase;
}
.customer-container{
  display:grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit,minmax(17rem,auto));
  gap:1.5rem;
  margin-top: 2rem;
}
.customer-container .box{
  padding:20px;
  box-shadow: var(--box-shadow);
  border-radius: 0.5rem;
  text-align: center;
}
.stars .bx{
  color:var(--main-color);
}
.customer-container .box img{
  width:270px;
  height:270px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.customer-container .box h2{
  font-size: 1.2rem;
  font-weight: 600;
}
.customer-container p{
  font-size: 0.938rem;
  margin:0.5rem 0 0.5rem;
}
.customer-container .box:hover{
  background: #f47c00;
  transition: 0.2s all linear;
}



.fire-effect {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgb(255, 136, 0), transparent);
    animation: fire 2s linear infinite;
}

@keyframes fire {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.05);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
} 

</style>
  
  <%- include('../partials/head'); %>
</head>

<body>
  <div id="nav-ediv">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="ps-5 navbar-brand d-md-none" href="/" align="center"><img class="scale-text"  src="/images/om2.png"
            alt="16-Sanskar-logo" style="width: 120px; height: 50px;"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item dropdown ">
              <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sanskar's-List
              </a>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">1. Garbhadhaan</a></li>
                <li><a class="dropdown-item" href="#">2. Punsavan
                  </a></li>
                <li><a class="dropdown-item" href="#">3. Simantonayan</a></li>
                <li><a class="dropdown-item" href="#">4. Jatkarma</a></li>

                <li><a class="dropdown-item" href="#">5. Naamkaran</a></li>

                <li><a class="dropdown-item" href="#">6. Nishkramana</a></li>

                <li><a class="dropdown-item" href="#">7. Annprashan</a></li>

                <li><a class="dropdown-item" href="#">8. Chaul</a></li>

                <li><a class="dropdown-item" href="#">9. Vidyarambh</a></li>

                <li><a class="dropdown-item" href="#">10. Karnavedh</a></li>

                <li><a class="dropdown-item" href="#">11. Upnayan</a></li>

                <li><a class="dropdown-item" href="#">12. Vedarambha</a></li>

                <li><a class="dropdown-item" href="#">13. Keshani Samskar</a></li>

                <li><a class="dropdown-item" href="#">14. Samavartan</a></li>

                <li><a class="dropdown-item" href="#">15. Vivah</a></li>

                <li><a class="dropdown-item" href="#">16. Antyesthi</a></li>

              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/blogs">Blog <i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i></a>
            </li>

          </ul>

          <a class="navbar-brand d-none d-md-block" href="/"><img class="scale-text"  src="/images/om2.png"
              style="width: 120px; height: 50px;"></a>
        </div>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/user_login">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Registration">Sign Up <i class="fa fa-user"
                  aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <!-- ---------------------- -->
  <div id="about">
    <!-- <h1 class="heading">About Us</h1> -->
    <section class="py-3 py-md-5 py-xl-8   "
      style="background-image:url(images/background2.png); padding: 10px; background-repeat: no-repeat; background-size: cover;">

      <div class="container mt-5">
        <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
          <div class="col-12 col-lg-6 col-xl-5">
            <img class="img-fluid rounded" loading="lazy" src="images/om2.png" alt="">
          </div>
          <div class="col-12 col-lg-6 col-xl-7">
            <div class="row justify-content-xl-center">
              <div class="col-12 col-xl-11 text-danger mt-5">

                <h2 class="h1 mb-3">Who Are We?</h2>
                <p class="lead fs-4 text-danger mb-3">We help people to build incredible brands and superior products.
                  Our perspective is to furnish outstanding captivating services.</p>
                <p class="mb-5">16 Sanskar:- Each Sanskar serves a unique purpose and holds significant
                  meaning,"16-Sanskar" aims to bridge the gap between tradition and modernity </p>
                <div class="row gy-4 gy-md-0 gx-xxl-5X">
                  <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                          class="bi bi-gear-fill" viewBox="0 0 16 16">
                          <path
                            d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" />
                        </svg>
                      </div>
                      <div>
                        <h4 class="mb-3">Versatile Brand</h4>
                        <p class="text-danger mb-0">We are crafting a digital method that subsists life across all
                          mediums.</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6">
                    <div class="d-flex">
                      <div class="me-4 text-danger">
                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
                          class="bi bi-fire" viewBox="0 0 16 16">
                          <path
                            d="M8 16c3.314 0 6-2 6-5.5 0-1.5-.5-4-2.5-6 .25 1.5-1.25 2-1.25 2C11 4 9 .5 6 0c.357 2 .5 4-2 6-1.25 1-2 2.729-2 4.5C2 14 4.686 16 8 16Zm0-1c-1.657 0-3-1-3-2.75 0-.75.25-2 1.25-3C6.125 10 7 10.5 7 10.5c-.375-1.25.5-3.25 2-3.5-.179 1-.25 2 1 3 .625.5 1 1.364 1 2.25C11 14 9.657 15 8 15Z" />
                        </svg>
                      </div>
                      <div>
                        <h4 class="mb-3">Digital Agency</h4>
                        <p class="text-danger mb-0">We believe in innovation by merging primary with elaborate ideas.
                        </p>
                        <!-- <button type="button" class=" mt-5 btn bsb-btn-xl btn-outline-danger rounded-pill">More Know</button> -->
                        <button class=" mt-5 btn bsb-btn-xl"></button>

                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- --------------------- -->
  <div id="mission">
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="about-img">
              <img src="images/16sanskar-banner.jpg" alt="" class="img-fluid">
              <!-- <div class="fire-effect"></div> -->
            </div>
          </div>
          <div class="col-lg-7 col-md-12 col-12 ps-lg-5 about-para ">

            <div class="about-text">
              <h2 class="missionheading">Mission <br>
                <h2 class="vissionheading">Vission</h2>
              </h2>
              <p class="missionpara">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, sequi sint ea hic
                recusandae corrupti nesciunt! Natus, officiis corrupti amet porro veritatis repudiandae pariatur iure
                eum ex reiciendis adipisci? Ducimus illo perferendis quidem qui facere? Aut debitis esse accusamus
                sapiente cum porro quia inventore reprehenderit? Laboriosam libero reprehenderit deleniti eum corrupti,
                itaque vitae atque quam nisi, ullam suscipit, perferendis magni omnis! Cupiditate nihil ex praesentium
                doloribus similique expedita voluptate nam, iusto autem sit delectus repellat sunt commodi, cumque
                tempora voluptates minus. Minus odio fuga vero esse deserunt autem harum repellat! Perferendis magnam
                nulla perspiciatis fugiat excepturi in sed ducimus totam.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <section class="customer" id="customer">
    <div class="heading">
        <h2>Our Team</h2>
    </div>
    <div class="customer-container">
        <div class="box">
            <img src="images/rev3.jpg" alt="">
            <h2>Anjali Bagdi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio architecto velit sunt perferendis molestiae.</p>
            <div class="stars">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        </div>
  
        <div class="box">
            <img src="images/rev2.jpg" alt="">
            <h2>Harshika Pardeshi</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio architecto velit sunt perferendis molestiae.</p>
            <div class="stars">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>
        </div>
    </div>
  
        <div class="box">
            <img src="images/rev1.jpg" alt="">
            <h2>Prashit Kapse</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio architecto velit sunt perferendis molestiae.</p>
            <div class="stars">
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star'></i>
            <i class='bx bxs-star-half' ></i>
        </div>
        </div>
    </div>
  </section>
  
   <!-- footer -->
   <%- include('../partials/footer.ejs'); %>
  </footer>
    
</body>

</html>