<!DOCTYPE html>
<html lang="en">

<head>


    <style>
      
        * {
          font-family:  sans-serif;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        
        :root {
          --orange:  #f47c00;
          --white: #fff;
          --gray: #f5f5f5;
          --black1: #222;
          --black2: #999;
        }
        
        body {
          min-height: 100vh;
          overflow-x: hidden;
        }
        
        .container-fluids {
          position: relative;
          width: 100%;
        }
        
        /* =============== navigations ================ */
        .navigations {
          position: fixed;
          width: 300px;
          height: 100%;
          background: var(--orange);
          border-left: 10px solid var(--orange);
          transition: 0.5s;
          overflow: hidden;
        }
        .navigations.actives {
          width: 80px;
        }
        
        .navigations ul {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        
        .navigations ul li {
          position: relative;
          width: 100%;
          list-style: none;
          /* border-top-left-radius: 30px; */
          /* border-bottom-left-radius: 30px; */
          border-radius: 25px;
        }
        
        .navigations ul li:hover,
        .navigations ul li.hovered {
          background-color: var(--white);
        }
        
        .navigations ul li:nth-child(1) {
          margin-bottom: 40px;
          pointer-events: none;
        }
        
        .navigations ul li a {
          position: relative;
          display: block;
          width: 100%;
          display: flex;
          text-decoration: none;
          color: var(--white);
        }
        .navigations ul li:hover a,
        .navigations ul li.hovered a {
          color: var(--orange);
        }
        
        .navigations ul li a .icon {
          position: relative;
          display: block;
          min-width: 60px;
          height: 60px;
          line-height: 75px;
          text-align: center;
        }
        .navigations ul li a .icon ion-icon {
          font-size: 1.75rem;
        }
        
        .navigations ul li a .title {
          position: relative;
          display: block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-align: start;
          white-space: nowrap;
        }
        
      
        .navigations ul li:hover a::after,
        .navigations ul li.hovered a::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -50px;
          width: 50px;
          height: 50px;
          background-color: transparent;
          border-radius: 50%;
          /* box-shadow: 35px -35px 0 10px var(--white); */
          pointer-events: none;
        }
        
        .mains {
          position: absolute;
          width: calc(100% - 300px);
          left: 300px;
          min-height: 100vh;
          background: var(--white);
          transition: 0.5s;
        }
        .mains.actives {
          width: calc(100% - 80px);
          left: 80px;
        }
        
        .topbars {
          width: 100%;
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
        }
        
        .toggles {
          position: relative;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.5rem;
          cursor: pointer;
        }
        
        .search {
          position: relative;
          width: 400px;
          margin: 0 10px;
        }
        
        .search label {
          position: relative;
          width: 100%;
        }
        
        .search label input {
          width: 100%;
          height: 40px;
          border-radius: 40px;
          padding: 5px 20px;
          padding-left: 35px;
          font-size: 18px;
          outline: none;
          border: 1px solid var(--black2);
        }
        
        .search label ion-icon {
          position: absolute;
          top: 0;
          left: 10px;
          font-size: 1.2rem;
        }
        
        
        @media (max-width: 991px) {
          .navigations {
            left: -300px;
          }
          .navigations.actives {
            width: 300px;
            left: 0;
          }
          .mains {
            width: 100%;
            left: 0;
          }
          .mains.actives {
            left: 300px;
          }
       
        }
        /* #mychart{
          width: 500px;
          height: 300px;
        } */
        
     
        
        @media (max-width: 480px) {
       
          .users {
            min-width: 40px;
          }
          .navigations {
            width: 100%;
            left: -100%;
            z-index: 1000;
          }
          .navigations.actives {
            width: 100%;
            left: 0;
          }
          .toggles {
            z-index: 10001;
          }
          .mains.actives .toggles {
            color: #fff;
            position: fixed;
            right: 0;
            left: initial;
          }
        }
        
    </style>

</head>

<body>
    <!-- =============== navigations ================ -->
    <div class="container-fluids">
      <%- include('../partials/adminav.ejs')%>


        <!-- ========================= Main ==================== -->
        <div class="mains">
            <div class="topbars">
                <div class="toggles">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <!-- <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div> -->
            </div>

              

               <div  id="charts"  style="width: 70%; height: 30vh; margin-left: 10%;" >
                <canvas id="myChart" ></canvas>
              </div>
              <input style="display: none;" type="text" name="vendor" id="vendor" value="<%=vendor%>">
              <input style="display: none;" type="text" name="customer" id="customer" value="<%=customer%>">
            

              <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
              
              <script>
                const ctx = document.getElementById('myChart');
                const countv=document.getElementById("vendor").value;
                const countc=document.getElementById("customer").value;

              
                new Chart(ctx, {
                  type: 'pie', // Set the chart type to 'pie'
                  data: {
                    labels: ['Customer', 'Vendor', 'Orders', 'Sale', ],
                    datasets: [{
                      label: '# of Votes',
                      data: [countc, countv, 3, 5],
                      backgroundColor: [
                        'rgba(255, 99, 132, 0.5)',
                        'rgba(83, 142, 142, 0.5)',
                        'rgba(255, 205, 86, 0.5)',
                        'rgba(54, 162, 235, 0.5)',
                       
                      ],
                      borderColor: [
                        'rgb(255, 99, 132)',
                        'rgb(75, 192, 192)',
                        'rgb(255, 205, 86)',
                        'rgb(54, 162, 235)',
                       
                      ],
                      borderWidth: 2
                    }]
                  },
                  options: {
                    // Add any additional options specific to pie charts here
                  }
                });
              </script>
              

         
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script>
        // add hovered class to selected list item
      let list = document.querySelectorAll(".navigations li");
      
      function activeLink() {
        list.forEach((item) => {
          item.classList.remove("hovered");
        });
        this.classList.add("hovered");
      }
      
      list.forEach((item) => item.addEventListener("mouseover", activeLink));
      
      // Menu toggles
      let toggles = document.querySelector(".toggles");
      let navigations = document.querySelector(".navigations");
      let mains = document.querySelector(".mains");
      
      toggles.onclick = function () {
        navigations.classList.toggle("actives");
        mains.classList.toggle("actives");
      };
      
    </script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>