<!DOCTYPE html>
<html lang="en">

<head>
    <title>Become a Seller</title>

    <style>
        body {
            /* font-size: 21vw; */
            font-family: sans-serif;
        }

 
        #seller-base {
            /* position: relative;
            top: 55%; */
            margin-top: -8%;

        }
        .navbar-nav {
      gap: 17vw;
    }
    /* .scale-text {
  animation: scale 2s alternate infinite;
}

@keyframes scale {
  0% { transform: scale(1); }
  100% { transform: scale(1.05); }
} */
    </style>


    <%- include('../partials/head'); %>

</head>

<body>
    <div id="nav-ediv">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                    <a class=" navbar-brand d-md-none"  href="/"><img class="scale-text"  class="scale-text"  src="/images/om2.png" alt="" align="center"
                            style="width: 120px; height: 50px;"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/blogs">Blog <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#tips">Tips of Listing  <i class="fa fa-list-alt" aria-hidden="true"></i>
                            </a>
                        </li>
                        <li class="nav-item"><a class="nav-link text-white " href="/About">
                            About <i class="fa fa-group"></i>
                          </a></li>
                    </ul>
                    <a class="navbar-brand d-none d-md-block" href="/"><img class="scale-text"  class="scale-text"  src="/images/om2.png" 
                        style="width: 120px; height: 50px;"></a>
                </div>
                <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/vendor_registration/vendor_login">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="/vendor_registration">Sign Up <i class="fa fa-user" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
            </div>
        </nav>
    </div>

    <div class="mt-3">
        <marquee behavior="" direction="left" scrollamount="15" class="fs-3 fw-light text-dark z-2 mt-5">16 Sanskar:- Each
            Sanskar serves a unique purpose and holds significant meaning,"16-Sanskar" aims to bridge the gap between
            tradition and modernity </marquee>
    </div>
    <!-- navbar end -->

    <!-- seller main start -->
    <div class="container bg-white shadow-sm mt-3" id="seller-main-container">
        <h1 class="text-center mt-3">Become a Seller</h1>
        <div id="seller-main" class="row">
            <div id="seller-main-img" class="col-6 text-center">
                <img src="/images/vendor1.jpeg" alt="Seller-img" style="height:60vh; width: 28rem;">
            </div>
            <div id="seller-main-content" class="d-flex mt-4 mb-5 col-5 text-center" style="color: #f47c00;">
                <p class="fs-4" style="writing-mode: vertical-rl; text-orientation: mixed;">Let's Work <br>
                    Together</p>
                <h1 class="ms-5" style="margin-top: 18%;">To Grow <br>Your Business <br>on 16-Sanskar</h1>
            </div>

        </div>
    </div>
    <div class="z-1 row pt-5" style="margin-top: 5%;">
        <table class="table table-responsive bg-light shadow-lg rounded-pill" style="height:16vh;" id="seller-base">
            <tr class="text-center" >
                <th class="p-5">Large Customer Base</th>
                <th class="p-5">24/7 Online Business</th>
                <th class="p-5">Fast Payment</th>
                <th class="p-5">Easy to use</th>
            </tr>
        </table>
    </div>
    <div id="tips" class="create-listing container "
        style="height: 50%; background-color: #f47c00; padding: 5% 0 5% 2%;">
        <h2 class=" text-white">Create a Great Listing</h2>
        <h5 class=" text-white">Here's is the Way to Set Yourself Success </h5>
        <div class="d-flex justify-content-evenly mt-5">
            <div class="card" style="width: 18rem;" data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right" >

                <div class="card-body">
                    <h5 class="card-title">Title</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Write A Standout Title </h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body"  data-mdb-toggle="animation" data-mdb-animation-reset="true" data-mdb-animation="slide-out-right">
                    <h5 class="card-title">Photos</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Take High-Quality Photos </h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Formate</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Pic A Purchase Formate</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                </div>
            </div>
        </div>

    </div>
        <!-- seller main start -->

    <div>
        <div class="container bg-white mt-5" style="height: 50%;">
            <div class="accordion accordion-flush" id="accordionFlushExample">
                <div class="accordion-item">
                    <h2 class="accordion-header mb-5" id="flush-headingOne">
                        <button class="accordion-button collapsed fw-bolder text-white "
                            style="background-color: #f47c00;" type="button" data-bs-toggle="collapse"
                            data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                            1. How Can I Sell My Product In 16 Sanskar’s Stores?
                        </button>
                    </h2>
                    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                        data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">
                            <ol>
                                <li> Contact Sanskar's management to pitch your product.</li>
                                <li> Prepare a compelling presentation highlighting your product's uniqueness and
                                    benefits.</li>
                                <li> Provide competitive pricing and favorable terms.</li>
                                <li> Ensure proper product packaging and branding.</li>
                                <li>Collaborate on marketing strategies for in-store promotion.</li>
                                <li> Maintain clear communication and excellent customer service.</li>
                                <li>Regularly restock and analyze sales data for optimization.</li>
                                </ul>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header  mb-5" id="flush-headingTwo">
                            <button class="accordion-button collapsed fw-bolder text-white"
                                style="background-color: #f47c00;" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                2. What Items Can’t Be Sold In 16 Sanskar’s Store? </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                16 Sanskar's Store prohibits the sale of items that promote harm, including weapons,
                                illegal substances, explicit content, and counterfeit goods. Additionally, items
                                violating religious sentiments or cultural norms are not permitted, fostering a
                                respectful and safe shopping environment.
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header mb-5" id="flush-headingThree">
                                <button class="accordion-button collapsed fw-bolder text-white"
                                    style="background-color: #f47c00;" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseThree" aria-expanded="false"
                                    aria-controls="flush-collapseThree">
                                    3. Is Being An 16 Sanskar Seller Profitable? </button>
                            </h2>
                            <div id="flush-collapseThree" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    Becoming a 16 Sanskar (sacraments) seller could be profitable due to the demand for
                                    traditional ceremonial items. However, success depends on factors like market
                                    trends, competition, and effective marketing strategies. Balancing cultural
                                    significance and modern preferences is key for sustainable profitability.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header mb-5" id="flush-headingFour">
                                <button class="accordion-button collapsed fw-bolder text-white "
                                    style="background-color: #f47c00;" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFour" aria-expanded="false"
                                    aria-controls="flush-collapseFour">
                                    4. How Do I Register To Sell In 16 Sanskar’s Store?
                            </h2>
                            <div id="flush-collapseFour" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    To register for selling on 16 Sanskar's Store, visit official website and locate the
                                    "Become a Seller" section. Fill out the required form with your business details,
                                    product information, and contact info. Await approval from the store's team to start
                                    selling your products. </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header mb-5" id="flush-headingFive">
                                <button class="accordion-button collapsed fw-bolder text-white "
                                    style="background-color: #f47c00;" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#flush-collapseFive" aria-expanded="false"
                                    aria-controls="flush-collapseFive">
                                    5. How Do I Increase 16 Sanskar’s Sales?
                            </h2>
                            <div id="flush-collapseFive" class="accordion-collapse collapse"
                                aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                <div class="accordion-body">
                                    To boost 16 Sanskar's sales, focus on targeted marketing, enhancing product
                                    visibility through social media and online platforms, offering attractive discounts
                                    or bundles, improving customer reviews and testimonials, optimizing the website for
                                    user-friendliness, and collaborating with influencers in the spiritual and wellness
                                    niche. Regularly analyzing sales data and customer feedback will also aid in making
                                    informed decisions.
                                 </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>





            <!-- footer -->
            <%- include('../partials/footer.ejs'); %>
                </footer>

</body>

</html>