<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    body {
      font-size: 21vw;
      font-family: sans-serif;
      overflow-x: hidden;

    }

    /* CSS for adjusting the carousel controls */
    .carousel-control-prev,
    .carousel-control-next {
      width: 5%;
      padding: 5px;
    }

    .animate__fadeInDown {
      -webkit-animation-name: fadeInDown;
      animation-name: fadeInDown;
    }

    .animate__animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
      background-color: rgba(89, 87, 212, 0.5);
    }

    .card-text {
      min-height: 16vh;
      max-height: 40vh;
    }

    .navbar-nav {
      gap: 13vw;
    }

    .s-img:hover {
      filter: brightness(30%);
    }
  </style>

  <%- include("../partials/head"); %>

</head>

<body>
  <div id="nav-ediv">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <a class="ps-5 navbar-brand d-md-none" href="/" align="center"><img class="scale-text" src="/images/om2.png"
            alt="16-Sanskar-logo" style="width: 120px; height: 50px;"></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
          <ul class="navbar-nav">

            <li class="nav-item dropdown ">
              <a class="nav-link text-white dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Sanskar's-List
              </a>
              <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#garbhadhan">1. Garbhadhaan</a></li>
                <li><a class="dropdown-item" href="#Punsavan">2. Punsavan</a></li>
                <li><a class="dropdown-item" href="#Simantonayan">3. Simantonayan</a></li>
                <li><a class="dropdown-item" href="#Jatkarma">4. Jatkarma</a></li>

                <li><a class="dropdown-item" href="#">5. Naamkaran</a></li>

                <li><a class="dropdown-item" href="#">6. Nishkramana</a></li>

                <li><a class="dropdown-item" href="#">7. Annprashan</a></li>

                <li><a class="dropdown-item" href="#">8. Chaul</a></li>

                <li><a class="dropdown-item" href="#">9. Vidyarambh</a></li>

                <li><a class="dropdown-item" href="#">10. Karnavedh</a></li>

                <li><a class="dropdown-item" href="#">11. Upnayan</a></li>

                <li><a class="dropdown-item" href="#">12. Vedarambha</a></li>

                <li><a class="dropdown-item" href="#">13. Keshani Samskar</a></li>

                <li><a class="dropdown-item" href="#">14. Samavartan</a></li>

                <li><a class="dropdown-item" href="#">15. Vivah</a></li>

                <li><a class="dropdown-item" href="#">16. Antyesthi</a></li>

              </ul>
            </li>

            <li class="nav-item">
              <a class="nav-link text-white" href="/blogs">Blog <i class="fa fa-pencil-square-o"
                  aria-hidden="true"></i></a>
            </li>

            <li class="nav-item"><a class="nav-link text-white " href="/About">
                About <i class="fa fa-group"></i>
              </a></li>

          </ul>

          <a class="navbar-brand d-none d-md-block" href="/"><img class="scale-text" src="/images/om2.png"
              style="width: 120px; height: 50px;"></a>
        </div>
        <div class="collapse navbar-collapse justify-content-around" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link text-white" href="/user_login">Sign In <i class="fa fa-sign-in"
                  aria-hidden="true"></i></a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="/Registration">Sign Up <i class="fa fa-user"
                  aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

  <div>
    <marquee style="margin-top: 5%;" behavior="" direction="left" scrollamount="15" class="fs-4 fw-light text-dark">16 Sanskar:- Each Sanskar
      serves a unique purpose and holds significant meaning,"16-Sanskar" aims to bridge the gap between tradition and
      modernity </marquee>
  </div>

  <!-- carousel for all blogs        -->
  <div class=" mt-3 container" align="center">
    <div id="sanskarsCarousel" class="carousel slide" data-bs-ride="carousel">
      <ol class="carousel-indicators ">
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="0" class="active" style="color: black;"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="1"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="2"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="3"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="4"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="5"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="6"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="7"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="8"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="9"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="10"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="11"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="12"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="13"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="14"></li>
        <li data-bs-target="#sanskarsCarousel" data-bs-slide-to="15"></li>
      </ol>
      <div class="carousel-inner">
        <!-- Sanskar 1: Garbhadhana -->
        <div class="carousel-item active">
          <img src="/images/garbh-sanskar1.PNG" alt="Garbhadhana" style="height:85vh ; width: 80vw;" class="s-img">
          <div class="carousel-caption">
            <h3 class="animate__animated animate__fadeInDown">Garbhadhana: Conception</h3>
            <p class="fw-bolder text-white fs-5">
              Garbhadhana is a sacred ritual that involves the couple seeking blessings for a healthy and virtuous
              child.
              It emphasizes the importance of a pure and loving union between husband and wife.
              Mantras and prayers are recited, invoking the divine to ensure the child's well-being from the moment of
              conception.

            </p>


          </div>

        </div>
        <!-- Sanskar 2: Pumsavana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/pumsavana.JPG" alt="Pumsavana">
          <div class="carousel-caption">
            <h3>Pumsavana: Fetus Protection</h3>
            <p class="fw-bolder text-white fs-5">
              Pumsavana is performed during pregnancy to protect the fetus from any negative influences.
              This Sanskara is a reminder of the responsibility to provide a nurturing environment for the unborn child,
              both physically and spiritually.
            </p>
          </div>
        </div>
        <!-- Sanskar 3: Simantonnayana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/simant.JPG" alt="Simantonnayana">
          <div class="carousel-caption">
            <h3>Simantonnayana: Baby Shower or Hair-Parting Ceremony</h3>
            <p class="fw-bolder text-white fs-5 text-">
              Simantonnayana, often celebrated during the seventh month of pregnancy, involves rituals and prayers for
              the safety of the mother and the child.
              The parting of the mother's hair signifies the child's imminent arrival, with blessings for a smooth
              delivery.
            </p>
          </div>
        </div>
        <!-- Sanskar 4: Jatakarma -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/jatkarm.JPG" alt="Jatakarma">
          <div class="carousel-caption">
            <h3>Jatakarma: Birth Ceremony</h3>
            <p class="fw-bolder text-white fs-5">
              Jatakarma is conducted right after birth to ensure the child's well-being.
              The father whispers the baby's name in its right ear, believed to protect the child from evil forces.
              It symbolizes the introduction of the child to the family and the world.
            </p>
          </div>
        </div>
        <!-- Sanskar 5: Namakarana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/namkaran.JPG" alt="Namakarana">
          <div class="carousel-caption">
            <h3>Namakarana: Naming Ceremony</h3>
            <p class="fw-bolder text-white fs-5">
              Namakarana is a significant event where the child is officially named.
              The chosen name is often inspired by astrological and cultural factors.
              This Sanskara welcomes the child into the community with blessings and celebrations.
            </p>
          </div>
        </div>
        <!-- Sanskar 6: Nishkramana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/nishkarman.JPG" alt="Nishkramana">
          <div class="carousel-caption">
            <h3>Nishkramana: First Outing of the Child</h3>
            <p class="fw-bolder text-white fs-5">
              Nishkramana is a joyous occasion when the child is taken out of the home for the first time.
              It symbolizes the introduction of the child to the natural world and often involves a visit to a place of
              religious significance.
            </p>
          </div>
        </div>
        <!-- Sanskar 7: Annaprashana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/annap.JPG" alt="Annaprashana">
          <div class="carousel-caption">
            <h3>Annaprashana: First Feeding of Solid Food</h3>
            <p class="fw-bolder text-white fs-5">
              Annaprashana marks the transition from a milk-based diet to solid food.
              A priest presides over this event, and the first feeding of solid food is considered an auspicious and
              vital step in the child's development.
            </p>
          </div>
        </div>
        <!-- Sanskar 8: Chudakarana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/chudakaran1.jpg" alt="Chudakarana">
          <div class="carousel-caption">
            <h3>Chudakarana: First Haircut</h3>
            <p class="fw-bolder text-white fs-5">
              Chudakarana, or Mundan, involves the first haircut of the child.
              It is believed to rid the child of any impurities from past lives and promote healthy hair growth.
            </p>
          </div>
        </div>
        <!-- Sanskar 9: Karnavedha -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/karnbhed.JFIF" alt="Karnavedha">
          <div class="carousel-caption">
            <h3>Karnavedha: Ear Piercing</h3>
            <p class="fw-bolder text-white fs-5">
              Karnavedha is the piercing of the child's ears, usually done in the second or third year of life.
              It is believed to enhance hearing ability and protect the child from negative influences.
            </p>
          </div>
        </div>
        <!-- Sanskar 10: Upanayana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/upnayan2.JPG" alt="Upanayana">
          <div class="carousel-caption">
            <h3>Upanayana: Sacred Thread Ceremony</h3>
            <p class="fw-bolder text-white fs-5">
              Upanayana is one of the most significant Sanskaras, especially for boys.
              It marks their initiation into the study of the Vedas and the wearing of the sacred thread, symbolizing
              their pursuit of knowledge and spirituality.
            </p>
          </div>
        </div>
        <!-- Sanskar 11: Vedarambha -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/vedarambha.PNG" alt="Vedarambha">
          <div class="carousel-caption">
            <h3>Vedarambha: Initiation into Vedic Studies</h3>
            <p class="fw-bolder text-white fs-5">
              After Upanayana, the child begins formal education in Vedic scriptures and other sacred texts under the
              guidance of a guru.
              This Sanskara signifies the start of their spiritual journey.
            </p>
          </div>
        </div>
        <!-- Sanskar 12: Samavartana -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/samavart.JPG" alt="Samavartana">
          <div class="carousel-caption">
            <h3>Samavartana: Completion of Formal Education</h3>
            <p class="fw-bolder text-white fs-5">
              Samavartana is celebrated upon the completion of formal education, often involving a return home from the
              guru's place.
              It marks the transition to the next phase of life, which may involve marriage and household
              responsibilities.
            </p>
          </div>
        </div>
        <!-- Sanskar 13: Vivaha -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/vivah.JPG" alt="Vivaha">
          <div class="carousel-caption">
            <h3>Vivaha: Marriage Ceremony</h3>
            <p class="fw-bolder text-white fs-5">
              Vivaha is a sacred union between two individuals, symbolizing their commitment to each other and to dharma
              (righteousness).
              Hindu marriage ceremonies are rich in traditions, rituals, and symbolism, signifying the importance of
              family and societal harmony.
            </p>
          </div>
        </div>
        <!-- Sanskar 14: Vanaprastha -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/vanaprasth.JPG" alt="Vanaprastha">
          <div class="carousel-caption">
            <h3>Vanaprastha: Transition to a Retired Life</h3>
            <p class="fw-bolder text-white fs-5">
              Vanaprastha is a stage of life when individuals gradually detach from worldly responsibilities and begin
              focusing on spirituality and inner growth.
              It involves retirement from active family life while living a semi-ascetic existence.
            </p>
          </div>
        </div>
        <!-- Sanskar 15: Sannyasa -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/sanyas.JFIF" alt="Sannyasa">
          <div class="carousel-caption">
            <h3>Sannyasa: Renunciation of Worldly Life</h3>
            <p class="fw-bolder text-white fs-5">
              Sannyasa is the highest form of renunciation.
              Those who choose this path renounce all worldly attachments and dedicate their lives to spiritual
              pursuits, meditation, and service to humanity.
            </p>
          </div>
        </div>
        <!-- Sanskar 16: Antyeshti -->
        <div class="carousel-item">
          <img style="height:85vh ; width: 80vw;" class="s-img" src="/images/ant.JPG" alt="Antyeshti">
          <div class="carousel-caption">
            <h3>Antyeshti: Funeral Rites</h3>
            <p class="fw-bolder text-white fs-5">
              Antyeshti is the final Sanskara, signifying the end of the physical journey.
              It involves the cremation or burial of the deceased, with rituals and prayers to guide the soul to its
              next existence.
            </p>
          </div>
          <!-- <div class="" style="padding-top: 10vh;">weghdbluwhffgchvbjnmo;ilgfjsdfghjksds</div> -->

        </div>
      </div>

      <!-- Carousel controls -->
      <a class="carousel-control-prev" href="#sanskarsCarousel" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </a>
      <a class="carousel-control-next" href="#sanskarsCarousel" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </a>
    </div>
  </div>

  <div class="container mt-5">
    <h1 class="text-center">16 Sanskaras</h1>
    <div class="row">
      <!-- Sanskar 1: Garbhadhana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4" id="garbhadhan">
          <img src="/images/garbh-sanskar1.PNG" class="card-img-top" alt="Garbhadhana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Garbhadhana: Conception</h5>
            <p class="card-text">
              Garbhadhana is a sacred ritual that involves the couple seeking blessings for a healthy and virtuous
              child.
              It emphasizes the importance of a pure and loving union between husband and wife.
              Mantras and prayers are recited, invoking the divine to ensure the child's well-being from the moment of
              conception.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#garbhadhanaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="garbhadhanaCollapse">
              <p class="mt-3">
                Garbhadhana is the first of the 16 Sanskaras, symbolizing the conception of a child and the blessings
                sought for the child's well-being. It holds great significance in Hindu tradition.
                Key aspects of the Garbhadhana ceremony include:
              <ol type="A">

                <li> Selection of Auspicious Time: The ceremony is performed during an auspicious time as per Vedic
                  astrology, taking into consideration factors such as the positions of the stars and planets. This is
                  believed to enhance the chances of a successful and blessed conception. </li>

                <li> Mantras and Prayers: The husband and wife recite specific mantras (sacred chants) and prayers,
                  seeking
                  the blessings of deities like Lord Vishnu and Goddess Lakshmi, who are considered the bestowers of
                  children.</li>

                <li> Ritual Acts: The couple performs ritual acts symbolizing their intent to conceive. This may
                  include the
                  exchange of garlands, the offering of grains or other symbolic items, and the lighting of lamps.
                </li>
                <li> Offering of Sweets: Sweets or other auspicious foods are offered to the deities and then consumed
                  by
                  the couple as a symbolic act of receiving divine blessings.</li>

                <li> Focused Meditation: The couple engages in focused meditation, visualizing the child they hope to
                  conceive and nurturing positive thoughts and intentions.</li>
              </ol>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 2: Punsavana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4" id="Punsavan">
          <img src="/images/pumsavana.JPG" class="card-img-top" alt="Pumsavana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Pumsavana: Fetus Protection</h5>
            <p class="card-text">
              Pumsavana is performed during pregnancy to protect the fetus from any negative influences.
              This Sanskara is a reminder of the responsibility to provide a nurturing environment for the unborn child,
              both physically and spiritually.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#pumsavanaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="pumsavanaCollapse">
              <p class="mt-3">
                Pumsavana is the second Sanskara, emphasizing the protection and well-being of the fetus during
                pregnancy. It signifies the importance of a healthy and positive environment for the child.
              </p>
            </div>
          </div>
        </div>
      </div>


      <!-- Sanskar 3: Simantonnayana -->
      <div class="col-md-6 s-card" id="Simantonnayana">
        <div class="card mb-4">
          <img src="/images/Simantonayan.JPG" class="card-img-top" alt="Simantonnayana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Simantonnayana: Baby Shower or Hair-Parting Ceremony</h5>
            <p class="card-text">
              Simantonnayana, often celebrated during the seventh month of pregnancy, involves rituals and prayers for
              the safety of the mother and the child.
              The parting of the mother's hair signifies the child's imminent arrival, with blessings for a smooth
              delivery.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#simantonnayanaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="simantonnayanaCollapse">
              <p class="mt-3">
                Simantonnayana is the third Sanskara, celebrating the safety and well-being of both the mother and the
                unborn child during pregnancy. It involves rituals and blessings for a smooth delivery.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 4: Jatakarma -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/jatkarm.JPG" class="card-img-top" alt="Jatakarma" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Jatakarma: Birth Ceremony</h5>
            <p class="card-text">
              Jatakarma is conducted right after birth to ensure the child's well-being.
              The father whispers the baby's name in its right ear, believed to protect the child from evil forces.
              It symbolizes the introduction of the child to the family and the world.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#jatakarmaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="jatakarmaCollapse">
              <p class="mt-3">
                Jatakarma is the fourth Sanskara, conducted immediately after birth. It involves rituals to ensure the
                child's well-being and introduces the child to the family and the world.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 5: Namakarana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src=/images/namkaran.JPG class="card-img-top" alt="Namakarana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Namakarana: Naming Ceremony</h5>
            <p class="card-text">
              Namakarana is a significant event where the child is officially named.
              The chosen name is often inspired by astrological and cultural factors.
              This Sanskara welcomes the child into the community with blessings and celebrations.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#namakaranaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="namakaranaCollapse">
              <p class="mt-3">
                Namakarana, the fifth Sanskara, involves the official naming of the child. The name is chosen based on
                cultural and astrological factors, welcoming the child into the community.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 6: Nishkramana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/nishkarman.JPG" class="card-img-top" alt="Nishkramana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Nishkramana: First Outing of the Child</h5>
            <p class="card-text">
              Nishkramana is a joyous occasion when the child is taken out of the home for the first time.
              It symbolizes the introduction of the child to the natural world and often involves a visit to a place of
              religious significance.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#nishkramanaCollapse" class="btn text-white "
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="nishkramanaCollapse">
              <p class="mt-3">
                Nishkramana, the sixth Sanskara, marks the child's first outing from home and introduces them to the
                natural world. It may involve a visit to a sacred place.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 7: Annaprashana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/annap.JPG" class="card-img-top" alt="Annaprashana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Annaprashana: First Feeding of Solid Food</h5>
            <p class="card-text">
              Annaprashana marks the transition from a milk-based diet to solid food.
              A priest presides over this event, and the first feeding of solid food is considered an auspicious and
              vital step in the child's development.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#annaprashanaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="annaprashanaCollapse">
              <p class="mt-3">
                Annaprashana, the seventh Sanskara, is the first feeding of solid food to the child. It's considered an
                important milestone in the child's development and is conducted with blessings.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 8: Chudakarana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/chudakaran1.jpg" class="card-img-top" alt="Chudakarana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Chudakarana: First Haircut</h5>
            <p class="card-text">
              Chudakarana, or Mundan, involves the first haircut of the child.
              It is believed to rid the child of any impurities from past lives and promote healthy hair growth.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#chudakaranaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="chudakaranaCollapse">
              <p class="mt-3">
                Chudakarana, the eighth Sanskara, involves the child's first haircut. It is a symbolic ritual believed
                to promote healthy hair growth and rid the child of impurities from past lives.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 9: Karnavedha -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/karnbhed.JFIF" class="card-img-top" alt="Karnavedha" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Karnavedha: Ear Piercing</h5>
            <p class="card-text">
              Karnavedha is the piercing of the child's ears, usually done in the second or third year of life.
              It is believed to enhance hearing ability and protect the child from negative influences.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#karnavedhaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="karnavedhaCollapse">
              <p class="mt-3">
                Karnavedha, the ninth Sanskara, involves ear-piercing of the child. It is performed to enhance the
                child's hearing ability and protect them from negative influences.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 10: Upanayana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/upnayan1.JPG" class="card-img-top" alt="Upanayana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Upanayana: Sacred Thread Ceremony</h5>
            <p class="card-text">
              Upanayana is one of the most significant Sanskaras, especially for boys.
              It marks their initiation into the study of the Vedas and the wearing of the sacred thread, symbolizing
              their pursuit of knowledge and spirituality.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#upanayanaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="upanayanaCollapse">
              <p class="mt-3">
                Upanayana, the tenth Sanskara, is a significant rite of passage, especially for boys. It involves the
                initiation into the study of the Vedas and the wearing of the sacred thread, symbolizing knowledge and
                spirituality.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 11: Vedarambha -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/vedarambha.PNG" class="card-img-top" alt="Vedarambha" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Vedarambha: Initiation into Vedic Studies</h5>
            <p class="card-text">
              After Upanayana, the child begins formal education in Vedic scriptures and other sacred texts under the
              guidance of a guru.
              This Sanskara signifies the start of their spiritual journey.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#vedarambhaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="vedarambhaCollapse">
              <p class="mt-3">
                Vedarambha, the eleventh Sanskara, marks the initiation into formal education in Vedic scriptures and
                sacred texts. It signifies the start of the child's spiritual journey.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 12: Samavartana -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/samavart.JPG" class="card-img-top" alt="Samavartana" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Samavartana: Completion of Formal Education</h5>
            <p class="card-text">
              Samavartana is celebrated upon the completion of formal education, often involving a return home from the
              guru's place.
              It marks the transition to the next phase of life, which may involve marriage and household
              responsibilities.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#samavartanaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="samavartanaCollapse">
              <p class="mt-3">
                Samavartana, the twelfth Sanskara, is celebrated upon completing formal education, often involving a
                return home from the guru's place. It marks the transition to the next phase of life.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 13: Vivaha -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/vivah.JPG" class="card-img-top" alt="Vivaha" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Vivaha: Marriage Ceremony</h5>
            <p class="card-text">
              Vivaha is a sacred union between two individuals, symbolizing their commitment to each other and to dharma
              (righteousness).
              Hindu marriage ceremonies are rich in traditions, rituals, and symbolism, signifying the importance of
              family and societal harmony.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#vivahaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="vivahaCollapse">
              <p class="mt-3">
                Vivaha, the thirteenth Sanskara, is a sacred marriage ceremony symbolizing commitment, dharma, and
                family harmony. It is rich in traditions and rituals.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 14: Vanaprastha -->
      <div class="col-md-6 s-card ">
        <div class="card mb-4">
          <img src="/images/vanaprasth.JPG" class="card-img-top" alt="Vanaprastha" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Vanaprastha: Transition to a Retired Life</h5>
            <p class="card-text">
              Vanaprastha is a stage of life when individuals gradually detach from worldly responsibilities and begin
              focusing on spirituality and inner growth.
              It involves retirement from active family life while living a semi-ascetic existence.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#vanaprasthaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="vanaprasthaCollapse">
              <p class="mt-3">
                Vanaprastha, the fourteenth Sanskara, marks the transition to a retired life focused on spirituality and
                inner growth. It involves detachment from worldly responsibilities.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 15: Sannyasa -->
      <div class="col-md-6 s-card">
        <div class="card mb-4">
          <img src="/images/sanyas.JFIF" class="card-img-top" alt="Sannyasa" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Sannyasa: Renunciation of Worldly Life</h5>
            <p class="card-text">
              Sannyasa is the highest form of renunciation.
              Those who choose this path renounce all worldly attachments and dedicate their lives to spiritual
              pursuits, meditation, and service to humanity.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#sannyasaCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="sannyasaCollapse">
              <p class="mt-3">
                Sannyasa, the fifteenth Sanskara, is the highest form of renunciation, involving the renouncement of
                worldly attachments for spiritual pursuits and service to humanity.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- Sanskar 16: Antyeshti -->
      <div class="col-md-6 s-card ">
        <div class="card mb-4">
          <img src="/images/ant.JPG" class="card-img-top" alt="Antyeshti" style="height: 58vh;">
          <div class="card-body">
            <h5 class="card-title">Antyeshti: Funeral Rites</h5>
            <p class="card-text">
              Antyeshti is the final Sanskara, signifying the end of the physical journey.
              It involves the cremation or burial of the deceased, with rituals and prayers to guide the soul to its
              next existence.
            </p>
            <a href="#" data-bs-toggle="collapse" data-bs-target="#antyeshtiCollapse" class="btn   text-white"
              style="background-color: #f47c00;">Read More</a>
            <div class="collapse" id="antyeshtiCollapse">
              <p class="mt-3">
                Antyeshti, the sixteenth Sanskara, is the final rite, marking the end of the physical journey. It
                involves cremation or burial and rituals to guide the soul to its next existence.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- footer -->
  <%- include('../partials/footer.ejs'); %>
    </footer>

</body>

</html>