<!DOCTYPE html>
<html lang="en">

<head>

    <style>
      
        * {
          font-family:  sans-serif;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
        
        :root {
          --orange:  #f47c00;
          --white: #fff;
          --gray: #f5f5f5;
          --black1: #222;
          --black2: #999;
        }
        
        body {
          min-height: 100vh;
          overflow-x: hidden;
        }
        
        .container-fluids {
          position: relative;
          width: 100%;
        }
        
        /* =============== navigations ================ */
        .navigations {
          position: fixed;
          width: 300px;
          height: 100%;
          background: var(--orange);
          border-left: 10px solid var(--orange);
          transition: 0.5s;
          overflow: hidden;
        }
        .navigations.actives {
          width: 80px;
        }
        
        .navigations ul {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        
        .navigations ul li {
          position: relative;
          width: 100%;
          list-style: none;
          /* border-top-left-radius: 30px; */
          /* border-bottom-left-radius: 30px; */
          border-radius: 25px;
        }
        
        .navigations ul li:hover,
        .navigations ul li.hovered {
          background-color: var(--white);
        }
        
        .navigations ul li:nth-child(1) {
          margin-bottom: 40px;
          pointer-events: none;
        }
        
        .navigations ul li a {
          position: relative;
          display: block;
          width: 100%;
          display: flex;
          text-decoration: none;
          color: var(--white);
        }
        .navigations ul li:hover a,
        .navigations ul li.hovered a {
          color: var(--orange);
        }
        
        .navigations ul li a .icon {
          position: relative;
          display: block;
          min-width: 60px;
          height: 60px;
          line-height: 75px;
          text-align: center;
        }
        .navigations ul li a .icon ion-icon {
          font-size: 1.75rem;
        }
        
        .navigations ul li a .title {
          position: relative;
          display: block;
          padding: 0 10px;
          height: 60px;
          line-height: 60px;
          text-align: start;
          white-space: nowrap;
        }
        
      
        .navigations ul li:hover a::after,
        .navigations ul li.hovered a::after {
          content: "";
          position: absolute;
          right: 0;
          bottom: -50px;
          width: 50px;
          height: 50px;
          background-color: transparent;
          border-radius: 50%;
          /* box-shadow: 35px -35px 0 10px var(--white); */
          pointer-events: none;
        }
        
        .mains {
          position: absolute;
          width: calc(100% - 300px);
          left: 300px;
          min-height: 100vh;
          background: var(--white);
          transition: 0.5s;
        }
        .mains.actives {
          width: calc(100% - 80px);
          left: 80px;
        }
        
        .topbars {
          width: 100%;
          height: 60px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 10px;
        }
        
        .toggles {
          position: relative;
          width: 60px;
          height: 60px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 2.5rem;
          cursor: pointer;
        }
        
        .search {
          position: relative;
          width: 400px;
          margin: 0 10px;
        }
        
        .search label {
          position: relative;
          width: 100%;
        }
        
        .search label input {
          width: 100%;
          height: 40px;
          border-radius: 40px;
          padding: 5px 20px;
          padding-left: 35px;
          font-size: 18px;
          outline: none;
          border: 1px solid var(--black2);
        }
        
        .search label ion-icon {
          position: absolute;
          top: 0;
          left: 10px;
          font-size: 1.2rem;
        }
        
        
        @media (max-width: 991px) {
          .navigations {
            left: -300px;
          }
          .navigations.actives {
            width: 300px;
            left: 0;
          }
          .mains {
            width: 100%;
            left: 0;
          }
          .mains.actives {
            left: 300px;
          }
       
        }
        #mychart{
          width: 500px;
          height: 300px;
        }
        
     
        
        @media (max-width: 480px) {
       
          .users {
            min-width: 40px;
          }
          .navigations {
            width: 100%;
            left: -100%;
            z-index: 1000;
          }
          .navigations.actives {
            width: 100%;
            left: 0;
          }
          .toggles {
            z-index: 10001;
          }
          .mains.actives .toggles {
            color: #fff;
            position: fixed;
            right: 0;
            left: initial;
          }
        }
        
    </style>
    
    <%- include('../partials/head'); %>
</head>

<body>
    <!-- =============== navigations ================ -->
    <div class="container-fluids">
      <%- include('../partials/adminav.ejs')%>


        <!-- ========================= Main ==================== -->
        <div class="mains">
            <div class="topbars">
                <div class="toggles">
                    <ion-icon name="menu-outline"></ion-icon>
                </div>

                <div class="search">
                    <label>
                        <input type="text" placeholder="Search here">
                        <ion-icon name="search-outline"></ion-icon>
                    </label>
                </div>

             
            </div>

            <table class="table mt-5">
                <thead>
                  <tr>
                    <th scope="col">No.</th>
                    <th scope="col">Customer Name</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price Per Piece</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Andrew Anderson</td>
                    <td>Puja Thali , MAla, Holy Water</td>
                    <td>2</td>
                    <td>2000</td>
                    <td>Dispatched</td>
                  </tr>


                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Sandalwood,Agarbatti,Kapoor,Ghee,Diya</td>
                    <td>1</td>
                    <td>1000</td>
                    <td>Panding</td>
                  </tr>


                  <tr>
                    <th scope="row">3</th>
                    <td>Anjali Bagdi </td>
                    <td>Yajnopavita,Traditional Cloth</td>
                    <td>2</td>
                    <td>5000</td>
                    <td>Delivered</td>
                  </tr>

                  <tr>
                    <th scope="row">4</th>
                    <td> Akash Mahile </td>
                    <td> Black Thread,Earrings,Sandalwood</td>
                    <td>2</td>
                    <td>10000</td>
                    <td>Panding</td>
                  </tr>

                  <tr>
                    <th scope="row">5</th>
                    <td> Bhupendra Soni </td>
                    <td> Yajnopavita,Akshata,Sandalwood,Metal Utensils</td>
                    <td>2</td>
                    <td>4000</td>
                    <td>Panding</td>
                  </tr>

                  <tr>
                    <th scope="row">6</th>
                    <td> Nikhil Soni </td>
                    <td> Sandalwood,Bathing Items,Yajnopavita Manual</td>
                    <td>2</td>
                    <td>4000</td>
                    <td>Under Delivered</td>
                  </tr>

                  <tr>
                    <th scope="row">7</th>
                    <td> Bhupendra Soni </td>
                    <td> Saptapadi,Havan Kund,Sweets and Fruits,Akshata,Puja Thali</td>
                    <td>2</td>
                    <td>4000</td>
                    <td> Delivered</td>
                  </tr>

                  <tr>
                    <th scope="row">8</th>
                    <td> Prithviraj Waskel</td>
                    <td> Kashaya Robes,Kamandalu,Bhiksha Patra</td>
                    <td>3</td>
                    <td>5000</td>
                    <td>Dispatch</td>
                  </tr>


                  <tr>
                    <th scope="row">9</th>
                    <td> Vimal Garbe </td>
                    <td> Sandalwood,Bathing Items,Yajnopavita Manual</td>
                    <td>1</td>
                    <td>2000</td>
                    <td>Panding</td>
                  </tr>

                  <tr>
                    <th scope="row">10</th>
                    <td> Nikhil Soni </td>
                    <td> Sandalwood,Bathing Items,Yajnopavita Manual</td>
                    <td>2</td>
                    <td>4000</td>
                    <td>Under Delivered</td>
                  </tr>
                </tbody>
              </table>









              
            
              

         
        </div>
    </div>

    <!-- =========== Scripts =========  -->
    <script>
        // add hovered class to selected list item
      let list = document.querySelectorAll(".navigations li");
      
      function activeLink() {
        list.forEach((item) => {
          item.classList.remove("hovered");
        });
        this.classList.add("hovered");
      }
      
      list.forEach((item) => item.addEventListener("mouseover", activeLink));
      
      // Menu toggles
      let toggles = document.querySelector(".toggles");
      let navigations = document.querySelector(".navigations");
      let mains = document.querySelector(".mains");
      
      toggles.onclick = function () {
        navigations.classList.toggle("actives");
        mains.classList.toggle("actives");
      };
      
    </script>
    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>